/*Start Variables Colors Pages*/
/*End Variables Colors Pages*/
/*Start Variables Float Diraction*/
/*End Variables Float Diraction*/
/*Start Variables Helprs*/
/*Start Variables Helprs*/
body {
  background-color: #ccc;
}

.title h5 {
  font-size: 17px;
  position: relative;
  margin-bottom: 20px;
  padding-top: 1.5rem !important;
}
.title h5 span {
  z-index: 1;
  padding: 7px;
  color: #fff;
  position: relative;
  display: inline-block;
  background-color: #c1198a;
  border-bottom: 4px solid #c1198a;
}
.title h5::after {
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 4px;
  content: '';
  position: absolute;
  background-color: #191b48;
}
.title h5::before {
  top: 53.5px;
  content: '';
  left: -2px;
  z-index: 2;
  border: 6px solid;
  position: absolute;
  color: #2f2f75;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

header .cile-header {
  padding: 10px 0;
  background-color: #2f2f75;
}
header .cile-header .logo img {
  width: 70px;
  height: auto;
  max-width: 100%;
}
header .cile-header .logo a {
  color: #fff;
  font-size: larger;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
}
header .cile-header .media_link ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header .cile-header .media_link ul li {
  display: inline-block;
}
header .cile-header .media_link ul li:not(:last-of-type) {
  margin-left: 10px;
}
header .cile-header .media_link ul li a {
  color: #fff;
  font-size: x-large;
  text-decoration: none;
}
header .cile-header .search form div {
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
}
header .cile-header .search form div input {
  border: none;
  font-size: small;
  color: #908f8f;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
header .cile-header .search form div span {
  top: 0;
  left: 0;
  width: 45px;
  height: 100%;
  color: #fff;
  line-height: 40px;
  font-size: larger;
  text-align: center;
  position: absolute;
  vertical-align: middle;
  background: #c1198ad9;
}
header .navbar {
  padding: 1rem;
  background-color: #191b48 !important;
}
header .navbar .container {
  position: relative;
}
header .navbar .container a {
  color: #fff !important;
  text-transform: uppercase;
}
header .navbar .container ul li.dropdown a::after {
  margin-right: 0.255em;
  margin-left: 0 !important;
}
header .navbar .container ul li.dropdown div.dropdown-menu {
  left: auto;
  right: 0;
  padding: 0;
  background-color: #191b48;
  border: 1px solid #ffffff40;
  -o-box-shadow: 0px 0px 4px -2px #191b48;
  -ms-box-shadow: 0px 0px 4px -2px #191b48;
  -moz-box-shadow: 0px 0px 4px -2px #191b48;
  -webkit-box-shadow: 0px 0px 4px -2px #191b48;
  box-shadow: 0px 0px 4px -2px #191b48;
}
header .navbar .container ul li.dropdown div.dropdown-menu a {
  padding: 0.7rem 2.5rem;
}
header .navbar .container ul li.dropdown div.dropdown-menu a:hover {
  color: #000 !important;
}

.content {
  padding: 50px 0;
}
.content .container {
  background-color: #eee;
  -o-box-shadow: 0px 2px 8px -5px #000;
  -ms-box-shadow: 0px 2px 8px -5px #000;
  -moz-box-shadow: 0px 2px 8px -5px #000;
  -webkit-box-shadow: 0px 2px 8px -5px #000;
  box-shadow: 0px 2px 8px -5px #000;
}
.content .container .box_top_player {
  cursor: pointer;
  background-color: #fff;
  -o-box-shadow: 0px 2px 8px -5px #000;
  -ms-box-shadow: 0px 2px 8px -5px #000;
  -moz-box-shadow: 0px 2px 8px -5px #000;
  -webkit-box-shadow: 0px 2px 8px -5px #000;
  box-shadow: 0px 2px 8px -5px #000;
}
.content .container .box_top_player .top-plyer {
  border: 1px solid #000;
  transition: all 0.2s linear;
}
.content .container .box_top_player .top-plyer:hover {
  -o-transform: translate(0px, -3px);
  -ms-transform: translate(0px, -3px);
  -moz-transform: translate(0px, -3px);
  -webkit-transform: translate(0px, -3px);
  transform: translate(0px, -3px);
  -o-box-shadow: 0px 2px 7px -1px #404040;
  -ms-box-shadow: 0px 2px 7px -1px #404040;
  -moz-box-shadow: 0px 2px 7px -1px #404040;
  -webkit-box-shadow: 0px 2px 7px -1px #404040;
  box-shadow: 0px 2px 7px -1px #404040;
}
.content .container .box_top_player .top-plyer:not(:last-of-type) {
  margin-bottom: 25px;
}
.content .container .box_top_player .top-plyer h6 {
  color: #fff;
  padding: 8px 0;
  margin-bottom: 0;
  text-align: center;
  background-color: #2f2f75;
}
.content .container .box_top_player .top-plyer img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.content .container .box_top_player .top-plyer ul {
  color: #fff;
  list-style: none;
  padding: 10px 15px !important;
  background-color: #191b48;
}
.content .container .box_top_player .top-plyer ul li {
  font-size: 14px;
  padding-bottom: 5px;
}
.content .container .box_top_player .top-plyer ul li span {
  font-size: 12px;
  color: #cccccc;
  margin-right: 7px;
}
.content .container .news_value {
  background-color: #fff;
  -o-box-shadow: 0px 2px 8px -5px #000;
  -ms-box-shadow: 0px 2px 8px -5px #000;
  -moz-box-shadow: 0px 2px 8px -5px #000;
  -webkit-box-shadow: 0px 2px 8px -5px #000;
  box-shadow: 0px 2px 8px -5px #000;
}
.content .container .news_value .top_news .ditlist {
  left: 0;
  bottom: 0;
  position: absolute;
  padding: 10px 20px;
  background-color: transparent;
  -o-box-shadow: 0px -119px 35px -45px #191b47d9 inset;
  -ms-box-shadow: 0px -119px 35px -45px #191b47d9 inset;
  -moz-box-shadow: 0px -119px 35px -45px #191b47d9 inset;
  -webkit-box-shadow: 0px -119px 35px -45px #191b47d9 inset;
  box-shadow: 0px -119px 35px -45px #191b47d9 inset;
}
.content .container .news_value .top_news .ditlist h6 {
  padding: 5px;
  color: #fff;
  display: inline-block;
  background-color: #c1198a;
}
.content .container .news_value .top_news .ditlist p {
  color: #fff;
  margin-bottom: 0;
}
.content .container .news_value .top_news .carousel-control-prev, .content .container .news_value .top_news .carousel-control-next i {
  font-size: 100px;
}
.content .container .news_value .top_value {
  cursor: pointer;
  border: 1px solid;
}
.content .container .news_value .top_value table caption {
  color: #fff;
  padding: 0;
  font-size: 21px;
  padding: 5px 6px;
  text-align: right;
  caption-side: top;
  background-color: #2f2f75;
}
.content .container .news_value .top_value table thead {
  background-color: rgba(0, 0, 0, 0.05);
}
.content .container .news_value .top_value table tbody tr th:first-of-type span {
  display: block;
}
.content .container .news_value .top_value table tbody tr th:first-of-type span:first-of-type {
  color: #1d75a3;
}
.content .container .news_value .top_value table tbody tr th:first-of-type span:last-of-type {
  font-size: small;
}
.content .container .news_value .top_value table tbody tr td:last-of-type {
  font-weight: 100;
  font-family: fantasy;
  text-transform: uppercase;
}
.content .container .news_value .top_value table tbody tr td:last-of-type span {
  margin-right: 2px;
}
.content .container .match {
  background-color: #fff;
  -o-box-shadow: 0px 2px 8px -5px #000;
  -ms-box-shadow: 0px 2px 8px -5px #000;
  -moz-box-shadow: 0px 2px 8px -5px #000;
  -webkit-box-shadow: 0px 2px 8px -5px #000;
  box-shadow: 0px 2px 8px -5px #000;
}
.content .container .match div:not(:first-of-type) {
  overflow-x: hidden;
}
.content .container .match .date {
  color: #fff;
  padding: 5px 0;
  margin-bottom: 0;
  text-align: center;
  background-color: #2f2f75;
}
.content .container .match .list_match {
  color: #fff;
  padding: 12px 0;
  cursor: pointer;
  overflow-x: auto;
  background-color: #191b48;
}
.content .container .match .list_match ul {
  list-style: none;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
}
.content .container .match .list_match ul:not(:last-of-type) {
  margin-bottom: 1rem;
}
.content .container .match .list_match ul li {
  display: inline-block;
  vertical-align: middle;
}
.content .container .match .list_match ul li span:last-of-type {
  padding: 5px;
  display: block;
}
.content .container .match .list_match ul li span:first-of-type {
  display: block;
  padding: 5px;
}
.content .container .match .list_match ul li:nth-of-type(2) span {
  font-size: small;
}
.content .container .match .list_match ul li:nth-of-type(2) span:first-of-type {
  margin: 0 15px;
  text-transform: uppercase;
}
.content .container .match .list_match ul li:nth-of-type(2) span:last-of-type {
  color: #fff;
  padding: 2px 20px;
  display: inline-block;
  text-transform: uppercase;
  background-color: #2f2f75;
}
.content .container .top_video {
  margin-top: 45px;
  background-color: #fff;
  -o-box-shadow: 0px 2px 8px -5px #000;
  -ms-box-shadow: 0px 2px 8px -5px #000;
  -moz-box-shadow: 0px 2px 8px -5px #000;
  -webkit-box-shadow: 0px 2px 8px -5px #000;
  box-shadow: 0px 2px 8px -5px #000;
}

.news {
  padding: 50px 0;
}
.news .container {
  background-color: #eee;
  -o-box-shadow: 0px 2px 8px -5px #000;
  -ms-box-shadow: 0px 2px 8px -5px #000;
  -moz-box-shadow: 0px 2px 8px -5px #000;
  -webkit-box-shadow: 0px 2px 8px -5px #000;
  box-shadow: 0px 2px 8px -5px #000;
}
.news .container .row {
  background-color: #fff;
  -o-box-shadow: 0px 2px 8px -5px #000;
  -ms-box-shadow: 0px 2px 8px -5px #000;
  -moz-box-shadow: 0px 2px 8px -5px #000;
  -webkit-box-shadow: 0px 2px 8px -5px #000;
  box-shadow: 0px 2px 8px -5px #000;
}
.news .container .row .box-news {
  color: #fff;
  border: 1px solid;
  position: relative;
  background-color: #191b48;
}
.news .container .row .box-news .auther {
  padding: 7px 0;
  padding-left: 65px;
  padding-right: 140px;
  background-color: #2f2f75;
}
.news .container .row .box-news .auther span {
  color: #fff;
  font-size: small;
  margin-left: 5px;
}
.news .container .row .box-news .auther span:first-of-type::after {
  content: '';
  width: 10px;
  height: 2px;
  margin: 0 5px;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
}
.news .container .row .box-news .logo_club, .news .container .row .box-news .logo_section {
  position: absolute;
  text-align: center;
  background-color: #fff;
}
.news .container .row .box-news .logo_club {
  top: 16px;
  right: 20px;
  padding: 5px;
}
.news .container .row .box-news .logo_section {
  top: 16px;
  left: 20px;
  padding: 5px;
}
.news .container .row .box-news .box-text {
  padding: 10px 140px 10px 75px;
}
.news .container .row .box-news .box-text h6 {
  padding: 5px;
  display: inline-block;
  background-color: #2f2f75;
}
.news .container .row .box-news .box-text h3 {
  margin-bottom: 15px;
}
.news .container .row .box-news .box-text p {
  font-size: medium;
  color: #e6e6e6;
}
.news .container .row .box-news .box-text span {
  color: #fff;
  font-size: small;
  padding: 3px 4px;
  display: inline-block;
  background-color: #2f2f75;
}

.permier {
  padding: 50px 0;
}
.permier .container {
  background-color: #eee;
  -o-box-shadow: 0px 2px 8px -5px #000;
  -ms-box-shadow: 0px 2px 8px -5px #000;
  -moz-box-shadow: 0px 2px 8px -5px #000;
  -webkit-box-shadow: 0px 2px 8px -5px #000;
  box-shadow: 0px 2px 8px -5px #000;
}
.permier .container .row {
  background-color: #fff;
  -o-box-shadow: 0px 2px 8px -5px #000;
  -ms-box-shadow: 0px 2px 8px -5px #000;
  -moz-box-shadow: 0px 2px 8px -5px #000;
  -webkit-box-shadow: 0px 2px 8px -5px #000;
  box-shadow: 0px 2px 8px -5px #000;
}
.permier .container .row .logo img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.permier .container .row .cont h3 {
  color: #fff;
  padding: 6px;
  display: inline-block;
  background-color: #2f2f75;
}
.permier .container .row .cont .info {
  display: flex;
  padding: 20px 0;
  flex-direction: row;
  border-bottom: 1px solid;
  justify-content: space-between;
}
.permier .container .row .cont .info ul {
  margin: 0;
  list-style: none;
  display: inline-block;
}
.permier .container .row .cont .info ul:first-of-type {
  margin-left: 15px;
}
.permier .container .row .cont .info ul li {
  margin: 5px 0;
  font-size: smaller;
}
.permier .container .row .cont .info ul li span {
  margin-right: 5px;
  font-size: small;
}
.permier .container .row .cont .value {
  padding: 20px 0;
  text-align: center;
  display: inline-block;
}
.permier .container .row .cont .value span {
  display: block;
}
.permier .container .row .cont .value span:last-of-type {
  color: #a9a9a9;
  margin-top: 10px;
  font-size: x-large;
}
.permier .container .row .list_permier, .permier .container .row .list_permier_league, .permier .container .row .list_player {
  cursor: pointer;
}
.permier .container .row .list_permier table, .permier .container .row .list_permier_league table, .permier .container .row .list_player table {
  border: 1px solid;
}
.permier .container .row .list_permier table caption, .permier .container .row .list_permier_league table caption, .permier .container .row .list_player table caption {
  color: #fff;
  padding: 0;
  font-size: 21px;
  padding: 5px 6px;
  text-align: center;
  caption-side: top;
  background-color: #2f2f75;
}
.permier .container .row .list_permier table thead, .permier .container .row .list_permier_league table thead, .permier .container .row .list_player table thead {
  background-color: rgba(0, 0, 0, 0.05);
}
.permier .container .row .list_permier table tbody tr th, .permier .container .row .list_permier_league table tbody tr th, .permier .container .row .list_player table tbody tr th {
  font-size: small;
}
.permier .container .row .list_permier table tbody tr th a, .permier .container .row .list_permier_league table tbody tr th a, .permier .container .row .list_player table tbody tr th a {
  font-size: small;
  color: #1d75a3;
  text-decoration: none;
}
.permier .container .row .list_permier table tbody tr td, .permier .container .row .list_permier_league table tbody tr td, .permier .container .row .list_player table tbody tr td {
  vertical-align: middle;
}
.permier .container .row .list_player table tbody tr th {
  overflow: hidden;
}
.permier .container .row .list_player table tbody tr th a {
  float: right;
}
.permier .container .row .list_player table tbody tr th a ul {
  margin: 0;
  list-style: none;
}
.permier .container .row .list_player table tbody tr th a ul li {
  display: inline-block;
}
.permier .container .row .list_player table tbody tr th a ul li:first-of-type {
  margin-left: 5px;
  vertical-align: top;
}
.permier .container .row .list_player table tbody tr th a ul li span {
  display: block;
}
.permier .container .row .list_player table tbody tr th a ul li span:first-of-type {
  font-size: small;
}
.permier .container .row .list_player table tbody tr th a ul li span:last-of-type {
  color: #5d5b5b;
  font-size: smaller;
}
.permier .container .row .staff {
  border: 1px solid;
}
.permier .container .row .staff h4 {
  color: #fff;
  margin-bottom: 0;
  padding-bottom: 3px;
  text-align: center;
  background-color: #2f2f75;
}
.permier .container .row .staff ul {
  margin: 0;
  list-style: none;
  padding: 20px 5px !important;
  background-color: #191b48;
}
.permier .container .row .staff ul li {
  color: #fff;
  display: inline-block;
}
.permier .container .row .staff ul li:first-of-type {
  margin-left: 10px;
  vertical-align: top;
}
.permier .container .row .staff ul li > span {
  margin: 5px 0;
  display: block;
}
.permier .container .row .staff ul li > span span {
  margin-right: 6px;
}
.permier .container .row .top-plyer {
  border: 1px solid #000;
  transition: all 0.2s linear;
}
.permier .container .row .top-plyer:hover {
  -o-transform: translate(0px, -3px);
  -ms-transform: translate(0px, -3px);
  -moz-transform: translate(0px, -3px);
  -webkit-transform: translate(0px, -3px);
  transform: translate(0px, -3px);
  -o-box-shadow: 0px 2px 7px -1px #404040;
  -ms-box-shadow: 0px 2px 7px -1px #404040;
  -moz-box-shadow: 0px 2px 7px -1px #404040;
  -webkit-box-shadow: 0px 2px 7px -1px #404040;
  box-shadow: 0px 2px 7px -1px #404040;
}
.permier .container .row .top-plyer:not(:last-of-type) {
  margin-bottom: 25px;
}
.permier .container .row .top-plyer h6 {
  color: #fff;
  padding: 8px 0;
  margin-bottom: 0;
  text-align: center;
  background-color: #2f2f75;
}
.permier .container .row .top-plyer img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.permier .container .row .top-plyer ul {
  color: #fff;
  list-style: none;
  padding: 10px 15px !important;
  background-color: #191b48;
}
.permier .container .row .top-plyer ul li {
  font-size: 14px;
  padding-bottom: 5px;
}
.permier .container .row .top-plyer ul li span {
  font-size: 12px;
  color: #cccccc;
  margin-right: 7px;
}

.matches {
  padding: 50px 0;
}
.matches .container {
  background-color: #eee;
  -o-box-shadow: 0px 2px 8px -5px #000;
  -ms-box-shadow: 0px 2px 8px -5px #000;
  -moz-box-shadow: 0px 2px 8px -5px #000;
  -webkit-box-shadow: 0px 2px 8px -5px #000;
  box-shadow: 0px 2px 8px -5px #000;
}
.matches .container .row {
  background-color: #fff;
  -o-box-shadow: 0px 2px 8px -5px #000;
  -ms-box-shadow: 0px 2px 8px -5px #000;
  -moz-box-shadow: 0px 2px 8px -5px #000;
  -webkit-box-shadow: 0px 2px 8px -5px #000;
  box-shadow: 0px 2px 8px -5px #000;
}
.matches .container .row .match .date {
  color: #fff;
  padding: 5px 0;
  margin-bottom: 0;
  text-align: center;
  background-color: #2f2f75;
}
.matches .container .row .match .list_match {
  color: #fff;
  padding: 12px 0;
  cursor: pointer;
  overflow-x: auto;
  background-color: #191b48;
}
.matches .container .row .match .list_match ul {
  list-style: none;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
}
.matches .container .row .match .list_match ul:not(:last-of-type) {
  margin-bottom: 1rem;
}
.matches .container .row .match .list_match ul li {
  display: inline-block;
  vertical-align: middle;
}
.matches .container .row .match .list_match ul li span:last-of-type {
  padding: 5px;
  display: block;
}
.matches .container .row .match .list_match ul li span:first-of-type {
  display: block;
  padding: 5px;
}
.matches .container .row .match .list_match ul li:nth-of-type(2) span {
  font-size: small;
}
.matches .container .row .match .list_match ul li:nth-of-type(2) span:first-of-type {
  margin: 0 15px;
  text-transform: uppercase;
}
.matches .container .row .match .list_match ul li:nth-of-type(2) span:last-of-type {
  color: #fff;
  padding: 2px 20px;
  display: inline-block;
  text-transform: uppercase;
  background-color: #2f2f75;
}

.about {
  padding: 50px 0;
}
.about .container {
  background-color: #eee;
  -o-box-shadow: 0px 2px 8px -5px #000;
  -ms-box-shadow: 0px 2px 8px -5px #000;
  -moz-box-shadow: 0px 2px 8px -5px #000;
  -webkit-box-shadow: 0px 2px 8px -5px #000;
  box-shadow: 0px 2px 8px -5px #000;
}
.about .container .row {
  background-color: #fff;
  -o-box-shadow: 0px 2px 8px -5px #000;
  -ms-box-shadow: 0px 2px 8px -5px #000;
  -moz-box-shadow: 0px 2px 8px -5px #000;
  -webkit-box-shadow: 0px 2px 8px -5px #000;
  box-shadow: 0px 2px 8px -5px #000;
}
.about .container .row .cont {
  padding: 5px;
  background-color: #191b48;
}
.about .container .row .cont img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.about .container .row .text h3 {
  color: #fff;
  padding: 6px;
  display: inline-block;
  background-color: #2f2f75;
}
.about .container .row .text p {
  padding: 20px 0;
}
.about .container .row .our_story {
  color: #fff;
  padding: 20px 50px;
  text-align: center;
  background-color: #191b48;
}
.about .container .row .our_story h3 {
  padding: 6px;
  color: #fff;
  display: inline-block;
  background-color: #2f2f75;
}

.contact {
  padding: 50px 0;
}
.contact .container {
  background-color: #eee;
  -o-box-shadow: 0px 2px 8px -5px #000;
  -ms-box-shadow: 0px 2px 8px -5px #000;
  -moz-box-shadow: 0px 2px 8px -5px #000;
  -webkit-box-shadow: 0px 2px 8px -5px #000;
  box-shadow: 0px 2px 8px -5px #000;
}
.contact .container .row {
  background-color: #fff;
  -o-box-shadow: 0px 2px 8px -5px #000;
  -ms-box-shadow: 0px 2px 8px -5px #000;
  -moz-box-shadow: 0px 2px 8px -5px #000;
  -webkit-box-shadow: 0px 2px 8px -5px #000;
  box-shadow: 0px 2px 8px -5px #000;
}
.contact .container .row:last-of-type {
  border-bottom: 3px solid;
}
.contact .container .row .cont {
  padding: 5px;
  background-color: #191b48;
}
.contact .container .row .cont img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.contact .container .row .text h3 {
  color: #fff;
  padding: 6px;
  display: inline-block;
  background-color: #2f2f75;
}
.contact .container .row .text p {
  padding: 20px 0;
}
.contact .container .row .contact_box {
  text-align: center;
  padding: 25px 0;
}
.contact .container .row .contact_box h2 {
  color: #fff;
  padding: 6px;
  display: inline-block;
  background-color: #2f2f75;
}
.contact .container .row .contact_box a {
  display: block;
  font-size: 14px;
  text-decoration: none;
}
.contact .container .row .list_faq img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

footer {
  background-color: #2f2f75;
}
footer .developer, footer .links, footer .media {
  padding: 10px 0;
}
footer .developer ul, footer .links ul, footer .media ul {
  list-style: none;
}
footer .developer ul li a, footer .links ul li a, footer .media ul li a {
  color: #fff;
  text-decoration: none;
}
footer .developer ul li {
  display: inline-block;
}
footer .developer ul li:first-of-type {
  width: 70px;
  height: 70px;
  margin-left: 6px;
  display: inline-block;
}
footer .developer ul li:first-of-type img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
footer .developer ul li:last-of-type {
  display: inline-block;
  vertical-align: middle;
}
footer .developer ul li:last-of-type span {
  color: #fff;
}
footer .developer ul li:last-of-type span:first-of-type {
  display: block;
  text-transform: capitalize;
}
footer .developer ul li:last-of-type span:last-of-type {
  color: #c1c1c1;
  font-size: small;
  text-transform: capitalize;
}
footer .links ul li:not(:last-of-type) {
  margin-bottom: 5px;
}
footer .media ul li {
  display: inline-block;
  margin-left: 5px;
}
footer .media ul li a {
  font-size: x-large;
}
footer .pre-footer {
  border-top: 2px solid #fff;
}
footer .pre-footer .copy_right {
  margin: 5px 0;
}
footer .pre-footer .copy_right a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 767px) {
  .cile-header .row div {
    text-align: center !important;
  }
  .cile-header .row div:nth-of-type(2) ul {
    display: flex;
    padding: 20px 0;
    justify-content: space-around;
  }
  .cile-header .row div:nth-of-type(2) ul li {
    margin-left: 0;
  }
  .cile-header .row div:last-of-type {
    padding-bottom: 20px;
  }
  .cile-header .row div:last-of-type form div span {
    height: 65%;
  }

  .box-news .logo_club img {
    width: 70px;
    height: 70px;
  }
  .box-news .logo_section img {
    width: 30px;
    height: 35px;
  }
  .box-news .box-text {
    padding: 10px 105px 10px 5px !important;
  }
  .box-news .box-text h3 {
    font-size: large !important;
  }
  .box-news .box-text p {
    font-size: small !important;
  }
}

/*# sourceMappingURL=style.css.map */
