extends permier_2.pug

block Title
  h5: span الاهلي المصري

block Logo
  .col-sm-12.col-md-6.mb-4
    .logo
      img(src="image/egy2_b.png", alt="perimer")
block Info           
  .col-sm-12.col-md-6.txt-right.dir-right.mb-4
    .cont
      h3 نبذه عن الدوري
      .info
        ul.p-0
          li مستوى الدوري : 
            span لدرجة الأولى - مصر
          li عدد الفرق : 
            span 18 فريقًا
          li اللاعبين : 
            span 560
          li قيمة السوق : 
            span 221 ألف يورو
        ul.p-0
          li بطل الدوري : 
            span الأهلي القاهرة 41 مرة
          li العمر : 
            span 26،9 سنة
          li الفائز بالبطولة : 
            span  الأهلي القاهرة
          li أغلى لاعب : 
            span رمضان صبحي 3.20 مليون يورو   
      .value
        span القيمة الجماليه للدوري
        span 244.36 L.E
block Content
  .row.mb-5
    .col-sm-12.col-md-4.my-4.dir-right.txt-right
      .staff.mb-3
        h4 المدرب
        ul.p-0.d-flex.align-items-center
          li: img(src="image/About_truka.jfif", alt="manager" width="100px" height="100px")
          li
            span René Weiler
            span المدير
            span السن:
              span 46 سنه 
            span التعين:
              span Aug 31, 2019
      .staff.mb-3
        h4 المدرب
        ul.p-0.d-flex.align-items-center
          li: img(src="image/About_truka.jfif", alt="manager" width="100px" height="100px")
          li
            span René Weiler
            span المدير
            span السن:
              span 46 سنه 
            span التعين:
              span Aug 31, 2019   
      .staff
        h4 المدرب
        ul.p-0.d-flex.align-items-center
          li: img(src="image/About_truka.jfif", alt="manager" width="100px" height="100px")
          li
            span René Weiler
            span المدير
            span السن:
              span 46 سنه 
            span التعين:
              span Aug 31, 2019                           
    .col-sm-12.col-md-8.my-4.dir-right.txt-right
      .list_player.table-responsive
        table.table.table-striped
          caption فريق الاهلي المصري
          thead
            tr
              th(scope="col") الاعب
              th(scope="col") الرقم
              th(scope="col") السن
              th(scope="col") القيمة
          tbody
            tr
              th(scope="row")
                a(href="player.html")
                  ul.p-0
                    li: img(src="image/ramdan.jpg", alt="al ahly" width="40px" height="40px")
                    li
                      span رمضان صبحي
                      span الجناح الايسر
              td 8
              td 22
              td 1.3m L.E            
            tr
              th(scope="row")
                a(href="player.html")
                  ul.p-0
                    li: img(src="image/ramdan.jpg", alt="al ahly" width="40px" height="40px")
                    li
                      span رمضان صبحي
                      span الجناح الايسر
              td 8
              td 22
              td 1.3m L.E  
            tr
              th(scope="row")
                a(href="player.html")
                  ul.p-0
                    li: img(src="image/ramdan.jpg", alt="al ahly" width="40px" height="40px")
                    li
                      span رمضان صبحي
                      span الجناح الايسر
              td 8
              td 22
              td 1.3m L.E  
            tr
              th(scope="row")
                a(href="player.html")
                  ul.p-0
                    li: img(src="image/ramdan.jpg", alt="al ahly" width="40px" height="40px")
                    li
                      span رمضان صبحي
                      span الجناح الايسر
              td 8
              td 22
              td 1.3m L.E  
            tr
              th(scope="row")
                a(href="player.html")
                  ul.p-0
                    li: img(src="image/ramdan.jpg", alt="al ahly" width="40px" height="40px")
                    li
                      span رمضان صبحي
                      span الجناح الايسر
              td 8
              td 22
              td 1.3m L.E  
            tr
              th(scope="row")
                a(href="player.html")
                  ul.p-0
                    li: img(src="image/ramdan.jpg", alt="al ahly" width="40px" height="40px")
                    li
                      span رمضان صبحي
                      span الجناح الايسر
              td 8
              td 22
              td 1.3m L.E  
            tr
              th(scope="row")
                a(href="player.html")
                  ul.p-0
                    li: img(src="image/ramdan.jpg", alt="al ahly" width="40px" height="40px")
                    li
                      span رمضان صبحي
                      span الجناح الايسر
              td 8
              td 22
              td 1.3m L.E  
            tr
              th(scope="row")
                a(href="player.html")
                  ul.p-0
                    li: img(src="image/ramdan.jpg", alt="al ahly" width="40px" height="40px")
                    li
                      span رمضان صبحي
                      span الجناح الايسر
              td 8
              td 22
              td 1.3m L.E                                                                                      