extends permier_2.pug

block Title_pages
  title Grinta | الفريق

block Title
  h5: span الاهلي المصري

block Logo
  .col-sm-12.col-md-3.mb-4
    .logo
      img(src="image/al_ahly_home.png", alt="perimer")
block Info
  .col-sm-12.col-md-2.my-5     
  .col-sm-12.col-md-7.txt-right.dir-right.mb-4
    .cont
      h3 نبذه عن الفريق
      .info
        ul.p-0
          li درجة الدوري 
            span لدرجة الأولى - مصر
          li بطل الدوري : 
            span الأهلي القاهرة 41 مرة 
          li ترتيب ف الدوري : 
            span  1                     
          li الاستاد : 
            span القاهرة الدولي
        ul.p-0
          li عدد الاعبين : 
            span 18 لاعب
          li العمر : 
            span 26،9 سنة
          li أغلى لاعب : 
            span رمضان صبحي 3.20 مليون يورو   
      .value
        span القيمة الجماليه للنادي
        span 244.36 L.E
block Content
  .row.mb-5
    .col-sm-12.col-md-4.my-4.dir-right.txt-right
      .staff.mb-3
        h4 المدرب
        ul.p-0.d-flex.align-items-center
          li: img(src="image/About_truka.jfif", alt="manager" width="100px" height="100px")
          li
            span René Weiler
            span المدير
            span السن:
              span 46 سنه 
            span التعين:
              span Aug 31, 2019
      .staff.mb-3
        h4 المدرب
        ul.p-0.d-flex.align-items-center
          li: img(src="image/About_truka.jfif", alt="manager" width="100px" height="100px")
          li
            span René Weiler
            span المدير
            span السن:
              span 46 سنه 
            span التعين:
              span Aug 31, 2019   
      .staff
        h4 المدرب
        ul.p-0.d-flex.align-items-center
          li: img(src="image/About_truka.jfif", alt="manager" width="100px" height="100px")
          li
            span René Weiler
            span المدير
            span السن:
              span 46 سنه 
            span التعين:
              span Aug 31, 2019                           
    .col-sm-12.col-md-8.my-4.dir-right.txt-right
      .list_player.table-responsive
        table.table.table-striped
          caption فريق الاهلي المصري
          thead
            tr
              th(scope="col") الاعب
              th(scope="col") الرقم
              th(scope="col") السن
              th(scope="col") القيمة
          tbody
            tr
              th(scope="row")
                a(href="player.html")
                  ul.p-0
                    li: img(src="image/ramdan.jpg", alt="al ahly" width="40px" height="40px")
                    li
                      span رمضان صبحي
                      span الجناح الايسر
              td 8
              td 22
              td 1.3m L.E            
            tr
              th(scope="row")
                a(href="player.html")
                  ul.p-0
                    li: img(src="image/ramdan.jpg", alt="al ahly" width="40px" height="40px")
                    li
                      span رمضان صبحي
                      span الجناح الايسر
              td 8
              td 22
              td 1.3m L.E  
            tr
              th(scope="row")
                a(href="player.html")
                  ul.p-0
                    li: img(src="image/ramdan.jpg", alt="al ahly" width="40px" height="40px")
                    li
                      span رمضان صبحي
                      span الجناح الايسر
              td 8
              td 22
              td 1.3m L.E  
            tr
              th(scope="row")
                a(href="player.html")
                  ul.p-0
                    li: img(src="image/ramdan.jpg", alt="al ahly" width="40px" height="40px")
                    li
                      span رمضان صبحي
                      span الجناح الايسر
              td 8
              td 22
              td 1.3m L.E  
            tr
              th(scope="row")
                a(href="player.html")
                  ul.p-0
                    li: img(src="image/ramdan.jpg", alt="al ahly" width="40px" height="40px")
                    li
                      span رمضان صبحي
                      span الجناح الايسر
              td 8
              td 22
              td 1.3m L.E  
            tr
              th(scope="row")
                a(href="player.html")
                  ul.p-0
                    li: img(src="image/ramdan.jpg", alt="al ahly" width="40px" height="40px")
                    li
                      span رمضان صبحي
                      span الجناح الايسر
              td 8
              td 22
              td 1.3m L.E  
            tr
              th(scope="row")
                a(href="player.html")
                  ul.p-0
                    li: img(src="image/ramdan.jpg", alt="al ahly" width="40px" height="40px")
                    li
                      span رمضان صبحي
                      span الجناح الايسر
              td 8
              td 22
              td 1.3m L.E  
            tr
              th(scope="row")
                a(href="player.html")
                  ul.p-0
                    li: img(src="image/ramdan.jpg", alt="al ahly" width="40px" height="40px")
                    li
                      span رمضان صبحي
                      span الجناح الايسر
              td 8
              td 22
              td 1.3m L.E
  .row
    .col-sm-12.my-4.dir-right.txt-right
      .list_permier_league.table-responsive
        table.table.table-striped
          caption ترتيب الدوري
          thead
            tr
              th(scope="col") النادي
              th(scope="col") المباريات
              th(scope="col") ك
              th(scope="col") خ
              th(scope="col") ت
              th(scope="col") نقاط
          tbody
            tr
              th(scope="row")
                a(href="club.html")
                  img(src="image/7.png", alt="al ahly" width="50px" height="50px")
                  span الاهلي المصري
              td 32
              td 10
              td 3
              td 1
              td 49
            tr
              th(scope="row")
                a(href="club.html")
                  img(src="image/7.png", alt="al ahly" width="50px" height="50px")
                  span الاهلي المصري
              td 32
              td 10
              td 3
              td 1
              td 49
            tr
              th(scope="row")
                a(href="club.html")
                  img(src="image/7.png", alt="al ahly" width="50px" height="50px")
                  span الاهلي المصري
              td 32
              td 10
              td 3
              td 1
              td 49
            tr
              th(scope="row")
                a(href="club.html")
                  img(src="image/7.png", alt="al ahly" width="50px" height="50px")
                  span الاهلي المصري
              td 32
              td 10
              td 3
              td 1
              td 49
            tr
              th(scope="row")
                a(href="club.html")
                  img(src="image/7.png", alt="al ahly" width="50px" height="50px")
                  span الاهلي المصري
              td 32
              td 10
              td 3
              td 1
              td 49
            tr
              th(scope="row")
                a(href="club.html")
                  img(src="image/7.png", alt="al ahly" width="50px" height="50px")
                  span الاهلي المصري
              td 32
              td 10
              td 3
              td 1
              td 49
  .row.top_video
    .col-sm-12.title.txt-right.dir-right
      h5: span فيدوهات النادي
    .col-sm-12.mb-4
      .embed-responsive.embed-responsive-16by9
        iframe(class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen)               