doctype html
html(lang = 'ar')
  head
    meta(charset = 'utf-8')
    meta(http-equiv = "X-UA-Compatible", content = "iE=edge")
    meta(name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name = "viewport" content = "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title Grinta | Homepag
    // all fils css
    link(rel = 'stylesheet', href = 'file.css/bootstrap.css')
    link(rel = 'stylesheet', href = 'file.css/bootstrap-editor.css')
    link(href="https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap" rel="stylesheet")
    link(rel = 'stylesheet', href = 'file.css/all.css')
    link(rel = 'stylesheet', href = 'file.sass/style.css')
    link(rel="stylesheet", href="file.css/style.ar.css")
  body(style="font-family: 'Cairo', sans-serif;")
    // start header
    header
      .cile-header
        .container
          .row.align-items-center.txt-right.dir-right
            //- use grid system Bootstrap 4
            .col-sm-12.col-md-4.logo
              img(src="image/logo-2.jpeg", alt="logo")
              a(href="#") جرينتا ماركيت
            .col-sm-12.col-md-4.media_link
              ul
                //- use FontAwesome 5
                li: a(href=""): i.fab.fa-facebook-square
                li: a(href=""): i.fab.fa-twitter
                li: a(href=""): i.fab.fa-instagram
                li: a(href=""): i.fab.fa-youtube
            .col-sm-12.col-md-4.search
              form(action="")
                .form-group
                  span: i.fas.fa-search
                  input(type="search" class="form-control" id="exampleInputSearch" placeholder="ابحث هنا !")
      // navbar Bootstrap 4
      nav.navbar.navbar-expand-md.navbar-light.bg-light.txt-right.dir-right
        .container
          |
          button.navbar-toggler.w-100.text-right(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            a: i.fal.fa-bars
          .collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav.ml-auto.p-0
              li.nav-item.active
                a.nav-link(href="#") الرئيسية 
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href="#") الاخبار
              li.nav-item.dropdown|
                |
                a.nav-link.dropdown-toggle#navbarDropdown(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") قائمة الدوري
                .dropdown-menu.txt-right.dir-right(aria-labelledby="navbarDropdown")|
                  |
                  a.dropdown-item(href="#") الدوري الممتاز (ا)
                  |
                  |
                  a.dropdown-item(href="#") الدوري الممتاز (ب)
                  .dropdown-divider
                  |
                  |
                  a.dropdown-item(href="#") الدوري الممتاز (ج)
              li.nav-item
                a.nav-link(href="#") مباريات اليوم
              li.nav-item
                a.nav-link(href="#") فيديوهات
              li.nav-item
                a.nav-link(href="#") من نحن
              li.nav-item
                a.nav-link(href="#") اتصل بنا
    // end header
    |
    |
    // start content
    .content
      .container
        .row.box_top_player.dir-right.txt-right
          .col-sm-12.title.txt-right.dir-right
            h5: span قائمة افضل الاعبين
          .col-sm-12.col-md-4.col-lg-3.mb-4
            .top-plyer
              h6 افضل لاعب (#[span  الاسبوع الاول ])
              img(src="image/About_truka.jfif", alt="About_truka")
              ul.p-0.mb-0
                li الدوري :
                  span المصري الممتاز
                li الاسم : 
                  span محمد ابو تريكة
                li المكان : 
                  span صانع العاب
                li رقم الاعب : 
                  span 22
          .col-sm-12.col-md-4.col-lg-3.mb-4
            .top-plyer
              h6 افضل لاعب (#[span  الاسبوع الاول ])
              img(src="image/About_truka.jfif", alt="About_truka")
              ul.p-0.mb-0
                li الدوري :
                  span المصري الممتاز
                li الاسم : 
                  span محمد ابو تريكة
                li المكان : 
                  span صانع العاب
                li رقم الاعب : 
                  span 22
          .col-sm-12.col-md-4.col-lg-3.mb-4
            .top-plyer
              h6 افضل لاعب (#[span  الاسبوع الاول ])
              img(src="image/About_truka.jfif", alt="About_truka")
              ul.p-0.mb-0
                li الدوري :
                  span المصري الممتاز
                li الاسم : 
                  span محمد ابو تريكة
                li المكان : 
                  span صانع العاب
                li رقم الاعب : 
                  span 22
          .col-sm-12.col-md-6.col-lg-3.mb-4.mx-md-auto
            .top-plyer
              h6 افضل لاعب (#[span  الاسبوع الاول ])
              img(src="image/About_truka.jfif", alt="About_truka")
              ul.p-0.mb-0
                li الدوري :
                  span المصري الممتاز
                li الاسم : 
                  span محمد ابو تريكة
                li المكان : 
                  span صانع العاب
                li رقم الاعب : 
                  span 22
        .row.news_value
          .col-sm-12.title.txt-right.dir-right
            h5: span اهم الاخبار الاسبوعيه
          .col-sm-12.col-md-8.dir-right.txt-right.mb-4
            .news
              div(id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel")
                div.carousel-inner
                  div.carousel-item.active
                    img(src="image/ball-1.jfif" class="d-block w-100" alt="..." width="500px" height="500px")
                    .ditlist
                      h6 صانع العاب الافضل 1
                      p الاخبار الحصريه  تاتي من اصل الحدث في زمن متغير ليس مرتبط بتوقيت معين لذك لنحن في كل وقت مستعدين
                  div.carousel-item
                    img(src="image/ball-2.jpg" class="d-block w-100" alt="..." width="500px" height="500px")
                    .ditlist
                      h6 صانع العاب الافضل 2
                      p الاخبار الحصريه  تاتي من اصل الحدث في زمن متغير ليس مرتبط بتوقيت معين لذك لنحن في كل وقت مستعدين
                  div.carousel-item
                    img(src="image/ball-3.webp" class="d-block w-100" alt="..." width="500px" height="500px")
                    .ditlist
                      h6 صانع العاب الافضل 3
                      p الاخبار الحصريه  تاتي من اصل الحدث في زمن متغير ليس مرتبط بتوقيت معين لذك لنحن في كل وقت مستعدين
                  div.carousel-item
                    img(src="image/ball-4.jpg" class="d-block w-100" alt="..." width="500px" height="500px")
                    .ditlist
                      h6 صانع العاب الافضل 4
                      p الاخبار الحصريه  تاتي من اصل الحدث في زمن متغير ليس مرتبط بتوقيت معين لذك لنحن في كل وقت مستعدين                                                                  
                a(class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev")
                  i.fal.fa-chevron-left
                  span.sr-only Previous
                a(class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next")
                  i.fal.fa-chevron-right
                  span.sr-only Next
          .col-sm-12.col-md-4.dir-right.txt-right.mb-4
            .top_value
              table.table.table-striped
                caption الإحصاء
                thead
                  tr
                    th(scope="col") اللاعب / المكان
                    th(scope="col") النادي
                    th(scope="col") القيمة
                tbody
                  tr
                    th(scope="row")
                      span محمد ابو تريكة
                      span صانع العاب
                    td: img(src="image/7.png", alt="al ahly" width="50px" height="50px")
                    td #[span 72m] l.e
                  tr
                    th(scope="row")
                      span محمد ابو تريكة
                      span صانع العاب
                    td: img(src="image/7.png", alt="al ahly" width="50px" height="50px")
                    td #[span 72m] l.e
                  tr
                    th(scope="row")
                      span محمد ابو تريكة
                      span صانع العاب
                    td: img(src="image/7.png", alt="al ahly" width="50px" height="50px")
                    td #[span 72m] l.e 
                  tr
                    th(scope="row")
                      span محمد ابو تريكة
                      span صانع العاب
                    td: img(src="image/7.png", alt="al ahly" width="50px" height="50px")
                    td #[span 72m] l.e 
                  tr
                    th(scope="row")
                      span محمد ابو تريكة
                      span صانع العاب
                    td: img(src="image/7.png", alt="al ahly" width="50px" height="50px")
                    td #[span 72m] l.e   
        .row.match
          .col-sm-12.title.txt-right.dir-right
            h5: span اهم المباريات
          .col-sm-12.col-md-6.dir-right.txt-right.mb-4
            h5.date 2019 / 10 / 3
            .list_match
              ul.p-0
                li
                  span الاهلي المصري
                  span: img(src="image/7.png", alt="al ahly" width="50px" height="50px")
                li
                  span pm 05.30
                  span vs
                li
                  span الاهلي المصري               
                  span: img(src="image/7.png", alt="al ahly" width="50px" height="50px")
              ul.p-0
                li
                  span الاهلي المصري
                  span: img(src="image/7.png", alt="al ahly" width="50px" height="50px")
                li
                  span pm 05.30
                  span vs
                li
                  span الاهلي المصري               
                  span: img(src="image/7.png", alt="al ahly" width="50px" height="50px")
              ul.p-0
                li
                  span الاهلي المصري
                  span: img(src="image/7.png", alt="al ahly" width="50px" height="50px")
                li
                  span pm 05.30
                  span vs
                li
                  span الاهلي المصري               
                  span: img(src="image/7.png", alt="al ahly" width="50px" height="50px") 
          .col-sm-12.col-md-6.dir-right.txt-right.mb-4
            h5.date 2020 / 3 / 25
            .list_match
              ul.p-0
                li
                  span الاهلي المصري
                  span: img(src="image/7.png", alt="al ahly" width="50px" height="50px")
                li
                  span pm 05.30
                  span vs
                li
                  span الاهلي المصري               
                  span: img(src="image/7.png", alt="al ahly" width="50px" height="50px")
              ul.p-0
                li
                  span الاهلي المصري
                  span: img(src="image/7.png", alt="al ahly" width="50px" height="50px")
                li
                  span pm 05.30
                  span vs
                li
                  span الاهلي المصري               
                  span: img(src="image/7.png", alt="al ahly" width="50px" height="50px")
              ul.p-0
                li
                  span الاهلي المصري
                  span: img(src="image/7.png", alt="al ahly" width="50px" height="50px")
                li
                  span pm 05.30
                  span vs
                li
                  span الاهلي المصري               
                  span: img(src="image/7.png", alt="al ahly" width="50px" height="50px")                                                   
        .row.top_video
          .col-sm-12.title.txt-right.dir-right
            h5: span افضل الفيديوهات
          .col-sm-12.mb-4
            .embed-responsive.embed-responsive-16by9
              iframe(class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen)
    // end content
    |
    |
    // start footer
    footer
      .container
        .row
          .col-sm-12.col-md-4.mb-4.dir-right.txt-right
            .developer
              ul.p-0
                li: img(src="image/admin.png", alt="developer")
                li
                  span Moaz Abdel Razek
                  span Front-End Web developer
              ul.p-0
                li: img(src="image/admin.png", alt="developer")
                li
                  span Mohammed Saad
                  span Back-end Web developer
              ul.p-0
                li: img(src="image/admin.png", alt="developer")
                li
                  span Moaz Abdel Razek
                  span ui / ux developer                                    
          .col-sm-12.col-md-4.mb-4.dir-right.txt-right
            .links
              ul.p-0
                li: a(href="#") الرئيسية
                li: a(href="#") الاخبار
                li: a(href="#") مباريات اليوم
                li: a(href="#") فيديوهات
                li: a(href="#") من نحن
                li: a(href="#") اتصل بنا
          .col-sm-12.col-md-4.mb-4.dir-right.txt-right
            .media
              ul.p-0
                li: a(href="#"): i.fab.fa-facebook-square
                li: a(href="#"): i.fab.fa-twitter
                li: a(href="#"): i.fab.fa-instagram
                li: a(href="#"): i.fab.fa-youtube
        .row.pre-footer
          .col-sm-12.text-center.copy_right
            a(href="#") Developers © All Rights Reserved
    // end footer
    |
    |
    // all script page
    script(src = 'file.js/popper.js')
    script(src = 'file.js/jquery-3.3.1.min.js')
    script(src = 'file.js/bootstrap.min.js')
    script(src = 'file.js/app.js')