doctype html
html(lang = 'en')
  head
    meta(charset = 'utf-8')
    meta(http-equiv = "X-UA-Compatible", content = "iE=edge")
    meta(name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name = "viewport" content = "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title Grinta | Homepag
    // all fils css
    link(rel = 'stylesheet', href = 'file.css/bootstrap.css')
    link(rel = 'stylesheet', href = 'file.css/bootstrap-editor.css')
    link(href="https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap" rel="stylesheet")
    link(rel = 'stylesheet', href = 'file.css/all.css')
    link(rel = 'stylesheet', href = 'file.sass/style.css')
    link(rel="stylesheet", href="file.css/style.ar.css")
  body(style="font-family: 'Cairo', sans-serif;")
    header
      // navbar Bootstrap 4
      nav.navbar.navbar-expand-md.navbar-light.bg-light.txt-right.dir-right
        .container|
          |
          a.navbar-brand.cont-img(href="#")|
            |
            img(src="image/WhatsApp Image 2020-03-28 at 12.00.29 AM.jpeg" alt="")
            |
            |
          |
          |
          button.navbar-toggler.w-100.text-right(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            a: i.fal.fa-bars
          .collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav.ml-auto.p-0
              li.nav-item.active
                a.nav-link(href="#") Home 
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href="#") News Action
              li.nav-item
                a.nav-link(href="#") Videos
              li.nav-item.dropdown|
                |
                a.nav-link.dropdown-toggle#navbarDropdown(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Dropdown
                .dropdown-menu.txt-right.dir-right(aria-labelledby="navbarDropdown")|
                  |
                  a.dropdown-item(href="#") Action
                  |
                  |
                  a.dropdown-item(href="#") Another action
                  .dropdown-divider
                  |
                  |
                  a.dropdown-item(href="#") Something else here
              li.nav-item
                a.nav-link(href="#") serves
              li.nav-item
                a.nav-link(href="#") about us
              li.nav-item
                a.nav-link(href="#") contact
    script(src = 'file.js/popper.js')
    script(src = 'file.js/jquery-3.3.1.min.js')
    script(src = 'file.js/bootstrap.min.js')
    script(src = 'file.js/app.js')
