//- import page
extends index.pug

block Title_pages
  title Grinta | الاخبار

block Link_pages
  ul.navbar-nav.ml-auto.p-0
    li.nav-item
      a.nav-link(href="index.html") الرئيسية 
        span.sr-only (current)
    li.nav-item
      a.nav-link(href="news.html") الاخبار
    li.nav-item.dropdown|
      |
      a.nav-link.dropdown-toggle#navbarDropdown(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") قائمة الدوري
      .dropdown-menu.txt-right.dir-right(aria-labelledby="navbarDropdown")|
        |
        a.dropdown-item(href="permier_2.html") الدوري الممتاز (ا)
        |
        |
        a.dropdown-item(href="#") الدوري الممتاز (ب)
        .dropdown-divider
        |
        |
        a.dropdown-item(href="#") الدوري الممتاز (ج)
    li.nav-item.active
      a.nav-link(href="matches.html") مباريات اليوم
    li.nav-item
      a.nav-link(href="video.html") فيديوهات
    li.nav-item
      a.nav-link(href="about.html") من نحن
    li.nav-item
      a.nav-link(href="contact.html") اتصل بنا

block Content_page
  .news
    .container
      .row.mb-5
        .col-sm-12.title.txt-right.dir-right
          h5: span الاخبار اليومية
        .col-sm-12.txt-right.dir-right.cont-news.mb-4
          .box-news
            .auther
              span 11.04.2020 
              span 08:43 
              span ابراهيم محمد
            .logo_club
              img(src="image/7.png", alt="clube" width="100px" height="100px")
            .logo_section
              img(src="image/egy1.png", alt="clube" width="40px" height="45px")
            .box-text
              h6 مشكلة مع المدرب الجديد
              h3 فريق كامل يغادر نادي Süderelbe من الدوري الألماني: "قرر ألا يبقى أي منا“
              p.lead.hidden  الجزر أبجد هوز عززت الحسومات. عدم الراحة، ومع ذلك، رفض لا أحد أعمتهم الألم لمخترع اتهام أنفسنا، من خلال آلام الكراهية العالم وفي نفس المكاتب توضع بعيدا عن الألم أجدادنا إرضاء لاحتياجات الرفاه، تنكرت في.  الجزر أبجد هوز عززت الحسومات. عدم الراحة، ومع ذلك، رفض لا أحد أعمتهم الألم لمخترع اتهام أنفسنا، من خلال آلام الكراهية العالم وفي نفس المكاتب توضع بعيدا عن الألم أجدادنا إرضاء لاحتياجات الرفاه، تنكرت في.  الجزر أبجد هوز عززت الحسومات. عدم الراحة، ومع ذلك، رفض لا أحد أعمتهم الألم لمخترع اتهام أنفسنا، من خلال آلام الكراهية العالم وفي نفس المكاتب توضع بعيدا عن الألم أجدادنا إرضاء لاحتياجات الرفاه، تنكرت في.  الجزر أبجد هوز عززت الحسومات. عدم الراحة، ومع ذلك، رفض لا أحد أعمتهم الألم لمخترع اتهام أنفسنا، من خلال آلام الكراهية العالم وفي نفس المكاتب توضع بعيدا عن الألم أجدادنا إرضاء لاحتياجات الرفاه، تنكرت في.  الجزر أبجد هوز عززت الحسومات. عدم الراحة، ومع ذلك، رفض لا أحد أعمتهم الألم لمخترع اتهام أنفسنا، من خلال آلام الكراهية العالم وفي نفس المكاتب توضع بعيدا عن الألم أجدادنا إرضاء لاحتياجات الرفاه، تنكرت في.
              span.show اقراء المزيد   
      .row.mb-5
        .col-sm-12.txt-right.dir-right.cont-news.my-4
          .box-news
            .auther
              span 11.04.2020 
              span 08:43 
              span ابراهيم محمد
            .logo_club
              img(src="image/7.png", alt="clube" width="100px" height="100px")
            .logo_section
              img(src="image/egy1.png", alt="clube" width="40px" height="45px")
            .box-text
              h6 مشكلة مع المدرب الجديد
              h3 فريق كامل يغادر نادي Süderelbe من الدوري الألماني: "قرر ألا يبقى أي منا“
              p.lead.hidden  الجزر أبجد هوز عززت الحسومات. عدم الراحة، ومع ذلك، رفض لا أحد أعمتهم الألم لمخترع اتهام أنفسنا، من خلال آلام الكراهية العالم وفي نفس المكاتب توضع بعيدا عن الألم أجدادنا إرضاء لاحتياجات الرفاه، تنكرت في.  الجزر أبجد هوز عززت الحسومات. عدم الراحة، ومع ذلك، رفض لا أحد أعمتهم الألم لمخترع اتهام أنفسنا، من خلال آلام الكراهية العالم وفي نفس المكاتب توضع بعيدا عن الألم أجدادنا إرضاء لاحتياجات الرفاه، تنكرت في.  الجزر أبجد هوز عززت الحسومات. عدم الراحة، ومع ذلك، رفض لا أحد أعمتهم الألم لمخترع اتهام أنفسنا، من خلال آلام الكراهية العالم وفي نفس المكاتب توضع بعيدا عن الألم أجدادنا إرضاء لاحتياجات الرفاه، تنكرت في.  الجزر أبجد هوز عززت الحسومات. عدم الراحة، ومع ذلك، رفض لا أحد أعمتهم الألم لمخترع اتهام أنفسنا، من خلال آلام الكراهية العالم وفي نفس المكاتب توضع بعيدا عن الألم أجدادنا إرضاء لاحتياجات الرفاه، تنكرت في.  الجزر أبجد هوز عززت الحسومات. عدم الراحة، ومع ذلك، رفض لا أحد أعمتهم الألم لمخترع اتهام أنفسنا، من خلال آلام الكراهية العالم وفي نفس المكاتب توضع بعيدا عن الألم أجدادنا إرضاء لاحتياجات الرفاه، تنكرت في.
              span.show اقراء المزيد  
      .row
        .col-sm-12.txt-right.dir-right.cont-news.my-4
          .box-news
            .auther
              span 11.04.2020 
              span 08:43 
              span ابراهيم محمد
            .logo_club
              img(src="image/7.png", alt="clube" width="100px" height="100px")
            .logo_section
              img(src="image/egy1.png", alt="clube" width="40px" height="45px")
            .box-text
              h6 مشكلة مع المدرب الجديد
              h3 فريق كامل يغادر نادي Süderelbe من الدوري الألماني: "قرر ألا يبقى أي منا“
              p.lead.hidden  الجزر أبجد هوز عززت الحسومات. عدم الراحة، ومع ذلك، رفض لا أحد أعمتهم الألم لمخترع اتهام أنفسنا، من خلال آلام الكراهية العالم وفي نفس المكاتب توضع بعيدا عن الألم أجدادنا إرضاء لاحتياجات الرفاه، تنكرت في.  الجزر أبجد هوز عززت الحسومات. عدم الراحة، ومع ذلك، رفض لا أحد أعمتهم الألم لمخترع اتهام أنفسنا، من خلال آلام الكراهية العالم وفي نفس المكاتب توضع بعيدا عن الألم أجدادنا إرضاء لاحتياجات الرفاه، تنكرت في.  الجزر أبجد هوز عززت الحسومات. عدم الراحة، ومع ذلك، رفض لا أحد أعمتهم الألم لمخترع اتهام أنفسنا، من خلال آلام الكراهية العالم وفي نفس المكاتب توضع بعيدا عن الألم أجدادنا إرضاء لاحتياجات الرفاه، تنكرت في.  الجزر أبجد هوز عززت الحسومات. عدم الراحة، ومع ذلك، رفض لا أحد أعمتهم الألم لمخترع اتهام أنفسنا، من خلال آلام الكراهية العالم وفي نفس المكاتب توضع بعيدا عن الألم أجدادنا إرضاء لاحتياجات الرفاه، تنكرت في.  الجزر أبجد هوز عززت الحسومات. عدم الراحة، ومع ذلك، رفض لا أحد أعمتهم الألم لمخترع اتهام أنفسنا، من خلال آلام الكراهية العالم وفي نفس المكاتب توضع بعيدا عن الألم أجدادنا إرضاء لاحتياجات الرفاه، تنكرت في.
              span.show اقراء المزيد                                                          
        