extends permier_2.pug

block Title_pages
  title Grinta | الاعب

block Title
  h5: span رمضان صبحي

block Logo
  .col-sm-12.col-md-3.mb-4
    .logo
      img(src="image/ramdan_home.jpg", alt="perimer")
block Info
  .col-sm-12.col-md-2.my-5     
  .col-sm-12.col-md-7.txt-right.dir-right.mb-4
    .cont
      h3 نبذه عن الاعب
      .info
        ul.p-0
          li درجة الدوري : 
            span لدرجة الأولى - مصر
          li النادي : 
            span الاهلي المصري
          li تاريخ الانضمام : 
            span Jul 5, 2019
          li تاريخ الميلاد : 
           span Jan 23, 1997 (23)
        ul.p-0
          li المكان : 
            span الجناح الايسر
          li الطول : 
            span 1.83 m
          li المباريات : 
           span 35
          li الاهداف : 
           span 15           
      .value
        span القيمة الجماليه للاعب
        span 244.36 L.E
block Content
  .row.mb-5
    .col-sm-12.title.txt-right.dir-right
      h5: span احصائيات اللاعب
    .col-sm-12.col-md-5.txt-right.dir-right.mb-4
      .box_info_player
        h4 بيانات اللاعب
        ul.p-0
          li الاسم : 
          li تاريخ الميلاد : 	
          li مكان الميلاد : 
          li السن : 
          li الطول
          li الجنسية : 
          li المكان : 
          li القدم : 
          li النادي : 
          li الانضمام : 
          li الانتهاء : 
          li الانديه السابقه : 
        ul.p-0
          li رمضان صبحي
          li Jan 23, 1997
          li القاهرة
          li 23
          li 1.83 m
          li مصري
          li جناح ايسر
          li الايمين
          li الاهلي
          li Jul 5, 2019
          li Jul 5, 2020
          li الاهلي , الزمالك , الاسماعيلي 
    .col-sm-12.col-md-2.my-5
    .col-sm-12.col-md-5.txt-right.dir-right.mb-4
      .box_Statistics_player
        h4 حالات اللاعب
        ul.p-0
          li دقائق العب :
          li مباريات : 
          li اهداف : 
          li تمريرات : 
          li بطاقة صفراء : 
          li بطاقة حمراء : 
        ul.p-0
          li 90
          li 10
          li 4
          li 11
          li 1
          li 0 
  .row.top_video
    .col-sm-12.title.txt-right.dir-right
      h5: span افضل مهارت اللاعب
    .col-sm-12.mb-4
      .embed-responsive.embed-responsive-16by9
        iframe(class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen)          