//- import page
extends index.pug

block Title_pages
  title Grinta | فيديوهات

block Link_pages
  ul.navbar-nav.ml-auto.p-0
    li.nav-item
      a.nav-link(href="index.html") الرئيسية 
        span.sr-only (current)
    li.nav-item
      a.nav-link(href="news.html") الاخبار
    li.nav-item.dropdown|
      |
      a.nav-link.dropdown-toggle#navbarDropdown(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") قائمة الدوري
      .dropdown-menu.txt-right.dir-right(aria-labelledby="navbarDropdown")|
        |
        a.dropdown-item(href="permier_2.html") الدوري الممتاز (ا)
        |
        |
        a.dropdown-item(href="#") الدوري الممتاز (ب)
        .dropdown-divider
        |
        |
        a.dropdown-item(href="#") الدوري الممتاز (ج)
    li.nav-item
      a.nav-link(href="matches.html") مباريات اليوم
    li.nav-item.active
      a.nav-link(href="video.html") فيديوهات
    li.nav-item
      a.nav-link(href="about.html") من نحن
    li.nav-item
      a.nav-link(href="contact.html") اتصل بنا

block Content_page
  .videos
    .container
      .row.mb-5
        .col-sm-12.title.txt-right.dir-right
          h5: span مقاطع فيدوهات
        .col-sm-12.col-md-8.col-lg-9.txt-right.dir-right.my-4
          .embed-responsive.embed-responsive-16by9
            iframe(class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen)
        .col-sm-12.col-md-4.col-lg-3.txt-right.dir-right.my-4
          .box_list_video
            ul.p-0            
              li 
                img(src="image/logo-3.jpeg", alt="poster" width="200" height="200")
                i.fas.fa-play
              li
                span مبارات الدربي
                span الاهلي vs الزمالك
            ul.p-0            
              li 
                img(src="image/logo-3.jpeg", alt="poster" width="200" height="200")
                i.fas.fa-play
              li
                span مبارات الدربي
                span الاهلي vs الزمالك
            ul.p-0            
              li 
                img(src="image/logo-3.jpeg", alt="poster" width="200" height="200")
                i.fas.fa-play
              li
                span مبارات الدربي
                span الاهلي vs الزمالك
            ul.p-0            
              li 
                img(src="image/logo-3.jpeg", alt="poster" width="200" height="200")
                i.fas.fa-play
              li
                span مبارات الدربي
                span الاهلي vs الزمالك
            ul.p-0            
              li 
                img(src="image/logo-3.jpeg", alt="poster" width="200" height="200")
                i.fas.fa-play
              li
                span مبارات الدربي
                span الاهلي vs الزمالك
            ul.p-0            
              li 
                img(src="image/logo-3.jpeg", alt="poster" width="200" height="200")
                i.fas.fa-play
              li
                span مبارات الدربي
                span الاهلي vs الزمالك                                                                                