// default style pages
body {
    background-color: #ccc;
}

// style all title
.title h5 {
    font-size: 17px;
    position: relative;
    margin-bottom: 20px;
    padding-top: 1.5rem !important;
    span {
        z-index: 1;
        padding: 7px;
        color: #fff;
        position: relative;
        display: inline-block;
        // use var sass
        background-color: $mainColor_3;
        border-bottom: 4px solid $mainColor_3;
    }
    &::after {
        left: 0;
        bottom: 0;
        z-index: 0;
        width: 100%;
        height: 4px;
        content: '';
        position: absolute;
        // use var sass
        background-color: $mainColor_1;
    }
    &::before {
        top: 53.5px;;
        content: '';
        left: -2px;
        z-index: 2;
        border: 6px solid;
        position: absolute;
        // use var sass
        color: $mainColor_2;
        @include browsers(border-radius, 50%, o ms moz webkit);
    }
} 

// default all box_video
.box_list_video {
    height: 464px;
    padding: 3px;
    direction: ltr;
    border: 1px solid;
    overflow-y: scroll;
    ul {
        cursor: pointer;
        list-style: none;
        position: relative;
        // use var sass
        background-color: $mainColor_1;
        &::after {
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: transparent;
        }
        li {
            &:first-of-type {
                position: relative;
                border-bottom: 1px solid #696969;
            }
            &:last-of-type {
                color: #fff;
                padding: 2px 6px;                            
            }
            img {
                width: 100%;
                height: auto;
                max-width: 100%;
            }
            span {
                margin: 5px 0;
                display: block;
                font-size: small;
            }
        }
    }
} 