// start @media 767px
@media (max-width: 767px) {
    // edit media class cile-header
    .cile-header .row div {
        text-align: center !important;
        &:nth-of-type(2) ul {
            display: flex;
            padding: 20px 0;
            justify-content: space-around;
            li {
                margin-left: 0;
            }
        }
        &:last-of-type {
            padding-bottom: 20px;
            form div  span {
                height: 65%
            }
        }
    }

    // edit meida class box-news
    .box-news {
        .logo_club img {
            width: 70px;
            height: 70px;
        }
        .logo_section img {
            width: 30px;
            height: 35px;
        }
        .box-text {
            padding: 10px 105px 10px 5px !important;
            h3 {
                font-size: large !important;
            }
            p {
                font-size: small !important;
            }
        }
    }
}
// end @media 767px