/*Start Variables Colors Pages*/
$mainColor_1: #191b48;
$mainColor_2: #2f2f75;
/*End Variables Colors Pages*/

/*Start Variables Float Diraction*/
$float-left: left;
$float-right: right;
/*End Variables Float Diraction*/

/*Start Variables Helprs*/
$text-upper: uppercase;
$text-lower: lowercase;
/*Start Variables Helprs*/
