// start style header
header {
    .cile-header {
        padding: 10px 0;
        background-color: $mainColor_2;
        .logo {
            img {
                width: 70px;
                height: auto;
                max-width: 100%;
            }
            a {
                color: #fff;
                font-size: larger;
                margin-right: 5px;
                display: inline-block;
                vertical-align: middle;
                text-decoration: none;
                text-transform: $text-upper;
            }
        }
        .media_link {
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    display: inline-block;
                    &:not(:last-of-type) {
                        margin-left: 10px;
                    }
                    a {
                        color: #fff;
                        font-size: x-large;
                        text-decoration: none;
                    }
                }
            }
        }
        .search form div {
            margin-bottom: 0;
            overflow: hidden;
            position: relative;
            input {
                font-size: small;
                color: #908f8f;                
                @include browsers(border-radius, 0, o ms moz webkit);
                &::placeholder {

                }
            }
            span {
                top: 0;
                left: 0;
                width: 45px;
                height: 100%;
                line-height: 40px;
                font-size: larger;
                text-align: center;
                position: absolute;
                color: $mainColor_1;
                vertical-align: middle;
                background: #b1b0b0;
            }
        }
    }
    .navbar {
        padding: 1rem;
        background-color: $mainColor_1 !important;
        .container {
            position: relative;
            a {
                color: #fff !important;
                text-transform: $text-upper;
            }
            ul li.dropdown {
                a::after {
                    margin-right: 0.255em;
                    margin-left: 0 !important;
                }
                div.dropdown-menu {
                    left: auto;
                    right: 0;
                    padding: 0;
                    background-color: $mainColor_1;
                    border: 1px solid #ffffff40;
                    @include browsers(box-shadow, 0px 0px 4px -2px #191b48, o ms moz webkit);
                    a {
                        padding: 0.7rem 2.5rem;
                        &:hover {
                            color: #000 !important;
                        }
                    }
                }
            }
        }
    } 
}
// end style header