// start style content
// start style class .box_top_plyer
.content {
    padding: 50px 0;
    cursor: pointer;
    .container {
        background-color: #eee;
        // use mixin sass
        @include browsers(box-shadow, 0px 2px 8px -5px #000, o ms moz webkit);
        .box_top_player {
            background-color: #fff;
            // use mixin sass
            @include browsers(box-shadow, 0px 2px 8px -5px #000, o ms moz webkit);   
            .top-plyer {
                border: 1px solid #000;
                // use mixin sass
                @include browsers(transition, all .2s linear);
                &:hover {
                    // use mixin sass
                    @include browsers(transform, translate(0px, -3px), o ms moz webkit);
                    @include browsers(box-shadow, 0px 2px 7px -1px #404040, o ms moz webkit);
                }
                &:not(:last-of-type) {
                    margin-bottom: 25px;
                }
                h6 {
                    color: #fff;
                    padding: 8px 0;
                    margin-bottom: 0;
                    text-align: center;
                    // use var sass
                    background-color: $mainColor_1;
                }
                img {
                    width: 100%;
                    height: auto;
                    max-width: 100%;            
                }
                ul {
                    color: #fff;
                    list-style: none;
                    padding: 10px 15px !important;
                    // use var sass
                    background-color: $mainColor_1;
                    li {
                        font-size: 14px;
                        padding-bottom: 5px;
                        span {
                            font-size: 12px;
                            color: #cccccc;                  
                            margin-right: 7px;
                        }
                    }
                }
            }
        }
        .news_value {
            margin-top: 45px;
            margin-bottom: 45px;        
            background-color: #fff;
            // use mixin sass
            @include browsers(box-shadow, 0px 2px 8px -5px #000, o ms moz webkit);    
            .news {
                .ditlist {
                    left: 0;
                    bottom: 0;
                    position: absolute;
                    padding: 10px 20px;
                    background-color: transparent;
                    @include browsers(box-shadow, 0px -119px 35px -45px #191b47d9 inset, o ms moz webkit);
                    h6 {
                        padding: 5px;
                        color: #fff;
                        display: inline-block;
                        background-color: $mainColor_3;
                    }
                    p {
                        color: #fff;
                        margin-bottom: 0;
                    }
                }
                .carousel-control-prev, .carousel-control-next i{
                    font-size: 100px;
                }
            }        
        }
        .top_value {
            border: 1px solid;
            table {
                caption {
                    color: #fff;
                    padding: 0;
                    font-size: 21px;
                    padding: 5px 6px;                    
                    text-align: right;
                    caption-side: top;
                    background-color: $mainColor_1;
                }
                thead {
                    background-color: rgba(0, 0, 0, 0.05);
                }
                tbody tr {
                    th:first-of-type span {
                        display: block;
                        &:first-of-type {
                            color: $mainColor_name;
                        }
                        &:last-of-type {
                            font-size: small;
                        }
                    }
                    td:last-of-type {
                        font-weight: 100;
                        font-family: fantasy;
                        text-transform: uppercase;
                        span {
                            margin-right: 2px
                        }
                    }                  
                }
            }
        }
    }
}
// end style content
