// start style content
// start style class .box_top_plyer
.content {
    padding: 50px 0;
    .container {
        background-color: #eee;
        // use mixin sass
        @include browsers(box-shadow, 0px 2px 8px -5px #000, o ms moz webkit);
        .box_top_player {
            cursor: pointer;
            background-color: #fff;
            // use mixin sass
            @include browsers(box-shadow, 0px 2px 8px -5px #000, o ms moz webkit);   
            .top-plyer {
                border: 1px solid #000;
                // use mixin sass
                @include browsers(transition, all .2s linear);
                &:hover {
                    // use mixin sass
                    @include browsers(transform, translate(0px, -3px), o ms moz webkit);
                    @include browsers(box-shadow, 0px 2px 7px -1px #404040, o ms moz webkit);
                }
                &:not(:last-of-type) {
                    margin-bottom: 25px;
                }
                h6 {
                    color: #fff;
                    padding: 8px 0;
                    margin-bottom: 0;
                    text-align: center;
                    // use var sass
                    background-color: $mainColor_2;
                }
                img {
                    width: 100%;
                    height: auto;
                    max-width: 100%;            
                }
                ul {
                    color: #fff;
                    list-style: none;
                    padding: 10px 15px !important;
                    // use var sass
                    background-color: $mainColor_1;
                    li {
                        font-size: 14px;
                        padding-bottom: 5px;
                        span {
                            font-size: 12px;
                            color: #cccccc;                  
                            margin-right: 7px;
                        }
                    }
                }
            }
        }
        .news_value {       
            background-color: #fff;
            // use mixin sass
            @include browsers(box-shadow, 0px 2px 8px -5px #000, o ms moz webkit);    
            .top_news {
                .ditlist {
                    left: 0;
                    bottom: 0;
                    position: absolute;
                    padding: 10px 20px;
                    background-color: transparent;
                    // use mixin sass
                    @include browsers(box-shadow, 0px -119px 35px -45px #191b47d9 inset, o ms moz webkit);
                    h6 {
                        padding: 5px;
                        color: #fff;
                        display: inline-block;
                        // use var sass
                        background-color: $mainColor_3;
                    }
                    p {
                        color: #fff;
                        margin-bottom: 0;
                    }
                }
                .carousel-control-prev, .carousel-control-next i{
                    font-size: 100px;
                }
            }
            .top_value {
                cursor: pointer;
                border: 1px solid;
                table {
                    caption {
                        color: #fff;
                        padding: 0;
                        font-size: 21px;
                        padding: 5px 6px;                    
                        text-align: right;
                        caption-side: top;
                        // use var sass
                        background-color: $mainColor_2;
                    }
                    thead {
                        background-color: rgba(0, 0, 0, 0.05);
                    }
                    tbody tr {
                        th:first-of-type span {
                            display: block;
                            &:first-of-type {
                                // use var sass
                                color: $mainColor_name;
                            }
                            &:last-of-type {
                                font-size: small;
                            }
                        }
                        td:last-of-type {
                            font-weight: 100;
                            font-family: fantasy;
                            text-transform: uppercase;
                            span {
                                margin-right: 2px
                            }
                        }                  
                    }
                }
            }                 
        }
        .match {
            background-color: #fff;
            // use mixin sass
            @include browsers(box-shadow, 0px 2px 8px -5px #000, o ms moz webkit);
            div:not(:first-of-type) {
                overflow-x: hidden;
            }
            .date {
                color: #fff;
                padding: 5px 0;
                margin-bottom: 0;
                text-align: center;
                background-color: $mainColor_2;
            }     
            .list_match {
                color: #fff;
                padding: 12px 0;
                cursor: pointer;
                overflow-x: auto;
                background-color: $mainColor_1;
                ul {
                    list-style: none;
                    margin-bottom: 0;
                    text-align: center;
                    white-space: nowrap;
                    &:not(:last-of-type) {
                        margin-bottom: 1rem;
                    }
                    li {
                        display: inline-block;
                        vertical-align: middle;
                        span:last-of-type {
                            padding: 5px;
                            display: block;
                        }                        
                        span:first-of-type {
                            display: block;
                            padding: 5px;
                        }
                        &:nth-of-type(2) span {
                            font-size: small;
                            &:first-of-type {
                                margin: 0 15px;
                                text-transform: $text-upper;
                            }
                            &:last-of-type {
                                color: #fff;
                                padding: 2px 20px;
                                display: inline-block;
                                text-transform: $text-upper;                                
                                background-color: $mainColor_2;
                            }
                        }
                    }
                }
            }
        }
        .top_video {
            margin-top: 45px;
            background-color: #fff;
            // use mixin sass
            @include browsers(box-shadow, 0px 2px 8px -5px #000, o ms moz webkit);            
        }
    }
}
// end style content

// start style content_News
.news {
    padding: 50px 0;
    .container {
        background-color: #eee;
        // use mixin sass
        @include browsers(box-shadow, 0px 2px 8px -5px #000, o ms moz webkit);
        .row {
        background-color: #fff;
        // use mixin sass
        @include browsers(box-shadow, 0px 2px 8px -5px #000, o ms moz webkit);            
            .box-news {
                color: #fff;
                border: 1px solid;
                position: relative;
                // use var sass
                background-color: $mainColor_1;
                .auther {
                    padding: 7px 0;
                    padding-left: 65px;
                    padding-right: 140px;
                    // use var sass
                    background-color: $mainColor_2;
                    span {
                        color: #fff;
                        font-size: small;
                        margin-left: 5px;
                        &:first-of-type::after {
                            content: '';
                            width: 10px;
                            height: 2px;
                            margin: 0 5px;
                            display: inline-block;
                            vertical-align: middle;
                            background-color: #fff;
                        }
                    }
                }
                .logo_club, .logo_section {
                    position: absolute;
                    text-align: center;
                    background-color: #fff;
                }
                .logo_club {
                    top: 16px;
                    right: 20px;
                    padding: 5px;
                }
                .logo_section {
                    top: 16px;
                    left: 20px;
                    padding: 5px;
                }
                .box-text {
                    padding: 10px 140px 10px 75px;
                    h6 {
                        padding: 5px;
                        display: inline-block;
                        background-color: $mainColor_2;
                    }
                    h3 {
                        margin-bottom: 15px;
                    }
                    p {
                        font-size: medium;
                        color: #e6e6e6                
                    }
                    span {
                        color: #fff;    
                        font-size: small;            
                        padding: 3px 4px;
                        display: inline-block;
                        background-color: $mainColor_2;
                    }
                }
            }
        }
    }
}
// end style content_News

// start style content_permier
.permier {
    padding: 50px 0;
    .container {
        background-color: #eee;
        // use mixin sass
        @include browsers(box-shadow, 0px 2px 8px -5px #000, o ms moz webkit);        
        .row {
            background-color: #fff;
            // use mixin sass
            @include browsers(box-shadow, 0px 2px 8px -5px #000, o ms moz webkit);
            .logo img {
                width: 100%;
                height: auto;
                max-width: 100%;
            }
            .cont {
                h3 {
                    color: #fff;
                    padding: 6px;
                    display: inline-block;
                    background-color: $mainColor_2;
                }
                .info {
                    display: flex;
                    padding: 20px 0;
                    flex-direction: row;
                    border-bottom: 1px solid;                    
                    justify-content: space-between;
                    ul {
                        margin: 0;
                        list-style: none;
                        display: inline-block;
                        &:first-of-type {
                            margin-left: 15px;
                        }
                        li {
                            margin: 5px 0;
                            font-size: smaller;
                            span {
                                margin-right: 5px;
                                font-size: small;
                            }
                        }
                    }
                }
                .value {
                    padding: 20px 0;
                    text-align: center;                    
                    display: inline-block;
                    span {
                        display: block;
                        &:last-of-type {
                            color: #a9a9a9;
                            margin-top: 10px;                            
                            font-size: x-large;
                        }
                    }
                }
            }
            .list_permier, .list_permier_league, .list_player {
                cursor: pointer;
                table {
                    border: 1px solid;
                    caption {
                        color: #fff;
                        padding: 0;
                        font-size: 21px;
                        padding: 5px 6px;                    
                        text-align: center;
                        caption-side: top;
                        // use var sass
                        background-color: $mainColor_2;
                    }
                    thead {
                        background-color: rgba(0, 0, 0, 0.05);
                    }
                    tbody tr {
                        th {
                            font-size: small;
                            a {
                                font-size: small;
                                color: $mainColor_name;
                                text-decoration: none;
                            }
                        }
                        td {
                            vertical-align: middle;
                        }                 
                    }
                }
            }
            .list_player table tbody tr th {
                overflow: hidden;
                a {
                    float: right;
                    ul {
                        margin: 0;
                        list-style: none;
                        li {
                            display: inline-block;
                            &:first-of-type {
                                margin-left: 5px;
                                vertical-align: top;
                            }                           
                            span {
                                display: block;
                                &:first-of-type {
                                    font-size: small;
                                }
                                &:last-of-type {
                                    color: #5d5b5b;
                                    font-size: smaller;
                                }                                
                            }
                        }
                    }
                }
            }
            .top-plyer {
                border: 1px solid #000;
                // use mixin sass
                @include browsers(transition, all .2s linear);
                &:hover {
                    // use mixin sass
                    @include browsers(transform, translate(0px, -3px), o ms moz webkit);
                    @include browsers(box-shadow, 0px 2px 7px -1px #404040, o ms moz webkit);
                }
                &:not(:last-of-type) {
                    margin-bottom: 25px;
                }
                h6 {
                    color: #fff;
                    padding: 8px 0;
                    margin-bottom: 0;
                    text-align: center;
                    // use var sass
                    background-color: $mainColor_2;
                }
                img {
                    width: 100%;
                    height: auto;
                    max-width: 100%;            
                }
                ul {
                    color: #fff;
                    list-style: none;
                    padding: 10px 15px !important;
                    // use var sass
                    background-color: $mainColor_1;
                    li {
                        font-size: 14px;
                        padding-bottom: 5px;
                        span {
                            font-size: 12px;
                            color: #cccccc;                  
                            margin-right: 7px;
                        }
                    }
                }
            }                                
        }
    }
}
// end style content_permier

// start style content_Matches
.matches {
    padding: 50px 0;
    .container {
        background-color: #eee;
        // use mixin sass
        @include browsers(box-shadow, 0px 2px 8px -5px #000, o ms moz webkit);
        .row {
            background-color: #fff;
            // use mixin sass
            @include browsers(box-shadow, 0px 2px 8px -5px #000, o ms moz webkit);
            .match {
                .date {
                    color: #fff;
                    padding: 5px 0;
                    margin-bottom: 0;
                    text-align: center;
                    background-color: $mainColor_2;
                }     
                .list_match {
                    color: #fff;
                    padding: 12px 0;
                    cursor: pointer;
                    overflow-x: auto;
                    background-color: $mainColor_1;
                    ul {
                        list-style: none;
                        margin-bottom: 0;
                        text-align: center;
                        white-space: nowrap;
                        &:not(:last-of-type) {
                            margin-bottom: 1rem;
                        }
                        li {
                            display: inline-block;
                            vertical-align: middle;
                            span:last-of-type {
                                padding: 5px;
                                display: block;
                            }
                            span:first-of-type {
                                display: block;
                                padding: 5px;
                            }
                            &:nth-of-type(2) span {
                                font-size: small;
                                &:first-of-type {
                                    margin: 0 15px;
                                    text-transform: $text-upper;
                                }
                                &:last-of-type {
                                    color: #fff;
                                    padding: 2px 20px;
                                    display: inline-block;
                                    text-transform: $text-upper;                                
                                    background-color: $mainColor_2;
                                }
                            }
                        }
                    }
                }
            }        
        }    
    }
}
// end style content_Matches

// start style content_about
.about {
    padding: 50px 0;
    .container {
        background-color: #eee;
        // use mixin sass
        @include browsers(box-shadow, 0px 2px 8px -5px #000, o ms moz webkit);        
        .row {
            background-color: #fff;
            // use mixin sass
            @include browsers(box-shadow, 0px 2px 8px -5px #000, o ms moz webkit);
            .cont {
                padding: 5px;
                background-color: $mainColor_1;
                img {
                    width: 100%;
                    height: auto;
                    max-width: 100%;
                }                
            }
            .text {
                h3 {
                    color: #fff;
                    padding: 6px;
                    display: inline-block;
                    background-color: $mainColor_2;
                }
                p {
                    padding: 20px 0;
                }
            }
            .our_story {
                color: #fff;
                padding: 20px 50px;
                text-align: center;
                background-color: $mainColor_1;
                h3 {
                    padding: 6px;
                    color: #fff;
                    display: inline-block;
                    background-color: $mainColor_2;
                }
            }
        }
    }
}
// end style content_about

// start style content_contact
.contact {
    padding: 50px 0;
    .container {
        background-color: #eee;
        // use mixin sass
        @include browsers(box-shadow, 0px 2px 8px -5px #000, o ms moz webkit);        
        .row {
            background-color: #fff;
            // use mixin sass
            @include browsers(box-shadow, 0px 2px 8px -5px #000, o ms moz webkit);
            &:last-of-type {
                border-bottom: 3px solid ;
            }
            .cont {
                padding: 5px;
                background-color: $mainColor_1;
                img {
                    width: 100%;
                    height: auto;
                    max-width: 100%;
                }                
            }
            .text {
                h3 {
                    color: #fff;
                    padding: 6px;
                    display: inline-block;
                    background-color: $mainColor_2;
                }
                p {
                    padding: 20px 0;
                }
            }
            .contact_box {
                text-align: center;
                padding: 25px 0;
                h2 {
                    color: #fff;
                    padding: 6px;
                    display: inline-block;
                    background-color: $mainColor_2;
                }
                a {
                    display: block;
                    font-size: 14px;
                    text-decoration: none;
                }
            }
            .list_faq img {
                width: 100%;
                height: auto;
                max-width: 100%;
            }                     
        }
    }
}
// end style content_contact
